<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Topics</title>
    <link rel="stylesheet" href="/addcourse.css"> <!-- Linking the CSS file -->
</head>
<body>

    <%- include('nav') %>
    <div class="container">
        <h1>Add Topics and Content</h1>
        <form id="topics-form" method="POST">
        <h1>Course Name:   <input type="text" id="className" name="className"></h1>
            <div id="topics-container" class="topics-container">
            </div>
            <button type="submit" class="submit-btn">Submit Topics</button>
        </form>
        <div>
            <br>
        <button class="add-topic-btn" onclick="addTopicFields()">Add Topic</button>
        </div>

    </div>

    <script src="/addcourse.js"></script>
</body>
</html>
