<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">
<body>
    
    <form action="/signup" method="POST">
        <h2>signup</h2>
        <input name="username" type="text" placeholder="Enter name">
        <input name="password" type="password" placeholder="Enter password">
        <input type="submit">
        <a href="/login">already signup!</a>
    </form>

</body>
</html>